<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="container">
      <h1>Word Counter</h1>
      <form action="/result" method="post">
        <div class="form-group">
          <label for="input-sentence">Enter a sentence</label>
          <input name="input-sentence" type="text" class="form-control"></input>
        </div>
        <div class="form-group">
          <label for="input-word">Enter a word to count</label>
          <input name="input-word" type="text" class="form-control"></input>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Count Word Matches!</button>
        </div>
      </form>
      {% if count > 0 %}
      <div class="result">
        <h4>The word <span class="result-span">"{{ wordWord }}"</span> appears <span class="result-span">{{ count }}</span> times in the sentence:</h4>
        <h4><span class="result-span">{{ finalSentence }}</span></h4>
        <a type="button" class="goback btn btn-default" href="/">Try another word or sentence</a>
      </div>
      {% endif %}
      {% if count < 1 %}
      <div class="result">
        <h4>{{ count }}</h4>
        <a type="button" class="goback btn btn-default" href="/">Try another word or sentence</a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
